._wen83_dsjdk_328ujeisd::-webkit-scrollbar {
    width: 8px;
}
._wen83_dsjdk_328ujeisd::-webkit-scrollbar-track {
    border-radius: 10px
}
._wen83_dsjdk_328ujeisd::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
._wen83_dsjdk_328ujeisd:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4
}

._hudsn_dsiodn::-webkit-scrollbar {
    width: 12px;
    position: relative;
    z-index: 1;
}
._hudsn_dsiodn::-webkit-scrollbar-track {
    border-radius: 10px
}
._hudsn_dsiodn::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
._hudsn_dsiodn:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4
}
._3409ier::-webkit-scrollbar {
    position: relative;
    z-index: 1;
}
._w40dswds::-webkit-scrollbar {
    position: relative;
    z-index: 1;
}
._w40dswds::-webkit-scrollbar-thumb {
    color: #bcc0c4
}
._w9eokpdsfd::-webkit-input-placeholder {
    font-weight: 600;
    text-align: center;
}
._w9eokpdsfd:focus {
    outline: 1px solid #2e89ff !important;
    background-color: #242526 !important;
}